@model Codes.Service.ViewModels.ClientEditViewModel

<div style="color: red; margin-bottom: 10px">@Model.ErrorMessage</div>

@foreach (var agent in Model.AssignedAgents)
{
    <div class="input-group">
        <span class="input-group-btn" style="width: 200px">
            <button type="button" class="btn btn-primary btn-sm agent inl-bl" data-clientid="@Model.ClientId" data-agentid="@agent.AgentId">
                <i class="fa fa-times icon-white"></i>
                <span>@agent.AgentFirstName @agent.AgentLastName</span>
            </button>
        </span>
        <span class="input-group-addon">Commission Rate:</span>
        <input type="number" class="form-control inl-bl" asp-for="@agent.CommissionRate" style="width: 80px">
        <button type="button" class="btn btn-link btn-sm update-commission inl-bl" data-clientid="@Model.ClientId" data-agentid="@agent.AgentId">Set Rate</button>
    </div>
}
