<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/favicon-180x180.png">
    <meta name="msapplication-TileImage" content="~/images/favicon-270x270.png">

    <title>@ViewData["Title"] - ClientPortal</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" integrity="sha256-00w68NO3TLuHjKRHJmjrrgJBDtG/6OhbJEu1gtHcsuo=" crossorigin="anonymous" />
    <link href="~/js/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/js/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/js/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/js/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/js/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/js/vendors/normalize-css/normalize.css" rel="stylesheet" asp-append-version="true">
    <link href="~/js/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet" asp-append-version="true">
    <link href="~/js/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" asp-append-version="true">
    <link href="~/js/vendors/switchery/dist/switchery.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Heads", required: false)
</head>
<body class="@ViewData["BodyCss"]">
    <div id="loader-container" style="display:none">
        <div class="row vertical-center-row">
            <div class="spinner circles">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            Loading...
        </div>
    </div>
    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js" integrity="sha384-Z0Y+0OGe/DQns+P+xbtaLJSZj2w14A7c2+ZUxL6aAyWYgDFWQB9mdDpbBOw6AQsJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js" integrity="sha384-RcvxIIFoyCfCY1JFTRhL2OqY/d1HP2ZXiRylchU66h1fgQzvytVH8YUPYiYXAsx6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha384-wqY0Wddj/9rsgpTQ0qEtvkb/VMP+u3Gt7/MhRiCGMt5eacRnOnIqDG6or9xvmleu" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js" integrity="sha256-YHd/E8OX5o5GcqyHHas3xH3i7aP8z8KmMrL3WLMJfIY=" crossorigin="anonymous"></script>
    <script src="~/js/vendors/datatables.net/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-buttons/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-buttons/js/buttons.flash.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-buttons/js/buttons.html5.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-buttons/js/buttons.print.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/vendors/datatables.net-scroller/js/dataTables.scroller.min.js" asp-append-version="true"></script>
    <script src="https://nightly.datatables.net/select/js/dataTables.select.js?_=766c9ac11eda67c01f759bab53b4774d"></script>
    <script src="~/js/vendors/jszip/dist/jszip.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/js/pdf.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("ScriptLinks", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>
