@model ClientPortal.Models.ProductionResultSummaryViewModel
<div class="x_panel">
    <div class="x_content">
        <span class="h2 text-muted">Production Report by @Model.Type</span>
        <div class="pull-right no-print">
            <a href="#" target="_blank" class="hidden"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-file-pdf-o"></i>&nbsp; Download PDF</button></a>&nbsp;
            <button id="export-excel" type="button" class="btn btn-default btn-sm"><i class="fa fa-download"></i> Export Excel</button>
        </div>
        <div class="clearfix"></div>
        <hr class="card-hr">
        <span class="h4">@Model.Type: @Model.AccountName</span><br />
        <span class="h4">Check-Out Date Range: @Html.DisplayFor(m => m.CheckoutStartDate) - @Html.DisplayFor(m => m.CheckoutEndDate)</span><br />
        <span class="h4">Booking Date Range: @Html.DisplayFor(m => m.BookingStartDate) - @Html.DisplayFor(m => m.BookingEndDate)</span>
        <div class="pull-right spacer-5">Report Ran: @Model.ReportTime</div>
        <div class="clearfix"></div>

        @Html.DisplayFor(m => m.Tables)

        <br />
        <p class="h3">Summary</p>
        <table class="table table-bordered reportPageSummary">
            <thead>
                <tr>
                    <th class="text-right col-md-2"><b> All Totals:</b></th>
                    <th class="col-md-1"><strong>@Html.DisplayFor(m => m.TotalInternetPrice)</strong></th>
                    <th class="col-md-1"><strong>@Html.DisplayFor(m => m.TotalYouPayPrice)</strong></th>
                    <th class="col-md-1"><strong>@Html.DisplayFor(m => m.TotalMemberSavings)</strong></th>
                    <th class="col-md-1 commissionEarned"><strong>@Html.DisplayFor(m => m.TotalCommissionEarned)</strong></th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
