@model AddUserViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title" id="myModalLabel2"><span class="fa fa-user-plus left pull-right"></span>Add New @ViewData["ListType"]</h3>
</div>
<div class="modal-body">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#addUserTab1" id="profile-tab" role="tab" data-toggle="tab" aria-expanded="true">Profile</a>
            </li>
            @if (Model.UserType == "Broker")
            {
                <li role="presentation" class="">
                    <a href="#addUserTab2" id="commission-tab" role="tab" data-toggle="tab" aria-expanded="false">Commission</a>
                </li>
            }
        </ul>
        <form class="form-horizontal form-label-left input_mask">
            <input type="hidden" class="userType" value="@Model.UserType" />
            <div id="myTabContent" class="tab-content">
                <div id="addUserTab1" role="tabpanel" class="tab-pane active in" aria-labelledby="profile-tab">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                        <select name="country" class="form-control" asp-items="@Model.Countries" required>
                        </select>
                    </div>
                    @if (!Model.UserType.Contains("Administrator"))
                    {
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" name="company_name" placeholder="Company Name" required>
                            <span class="fa fa-building form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left ein" name="ein" placeholder="EIN/FEIN" required>
                            <span class="fa fa-info-circle form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    }
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="first_name" placeholder="First Name" maxlength="255" required>
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="last_name" placeholder="Last Name" maxlength="255" required>
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="address" placeholder="Office Address" maxlength="255" required>
                        <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="city" placeholder="City" maxlength="100" required>
                        <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                        <select name="state" class="form-control" required>
                            <option value="">Select State</option>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="number" class="form-control has-feedback-left" name="postal_code" placeholder="Postal Code" maxlength="10" required>
                        <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <input type="email" class="form-control has-feedback-left" name="email" placeholder="Email" maxlength="100" required>
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="tel" class="form-control has-feedback-left" name="mobile_phone" placeholder="Mobile Phone" required>
                        <span class="fa fa-mobile-phone form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="tel" class="form-control has-feedback-left" name="work_phone" placeholder="Office Phone" required>
                        <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="tel" class="form-control has-feedback-left" name="fax" placeholder="Office Fax">
                        <span class="fa fa-fax form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    @if (Model.UserType == "Agent" || Model.UserType == "Client")
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 offset-lg-4 offset-md-4 offset-sm-6  form-group has-feedback">
                            <input type="number" class="form-control has-feedback-left" name="commission_rate" placeholder="Commission Rate" asp-for="CommissionRate" required>
                            <span class="fa fa-percent form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    }
                    @if (Model.UserType == "Broker" && Model.UserType != "Agent")
                    {
                        <div class="form-group">
                            <br /><br />
                            <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Upload W9:</label><br />
                            <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-file">
                                <input type="file" class="documentW9 custom-file-input">
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                        <div class="form-group hidden">
                            <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Upload Other Documents:</label><br />
                            <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-file">
                                <input type="file" class="documentOther custom-file-input">
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                    }
                    <input type="hidden" name="broker_id" value="@Model.BrokerId" />

                    <!-- End Tab 1 Content -->
                </div>
                @if (Model.UserType == "Broker")
                {
                    <div id="addUserTab2" role="tabpanel" class="tab-pane fade" aria-labelledby="commission-tab">
                        <!-- Tab 2 Content -->
                        <div class="form-group">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Broker Commission Percentage</label>
                                <input name="broker_commission_percentage" type="number" class="form-control" placeholder="ex. 50.0" value="50.0" required>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Agent Commission Percentage</label>
                                <input name="agent_commission_percentage" type="number" class="form-control" placeholder="ex. 12.5" value="0" required>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Client Commission Percentage</label>
                                <input name="client_commission_percentage" type="number" class="form-control" placeholder="ex. 3.0" value="0" required>
                            </div>
                            <br />
                        </div>
                        <hr>
                        <br />
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <h4>Card Purchasing Rates</h4>
                            </div>
                            <div class="form-horizontal form-label-left form-group">
                                <div class="form-group text-center">
                                    <label class="bg-travnow col-lg-6 col-md-6 col-sm-6 col-xs-12">Physical Cards</label>
                                    <label class="bg-travnow col-lg-6 col-md-6 col-sm-6 col-xs-12">% of Face Value</label>
                                </div>
                            </div>
                            <div class="form-horizontal form-label-left form-group">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">1,000 Cards</label>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <input name="cards_1000" type="number" class="form-control" value="0.55">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-label-left form-group">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">5,000 Cards</label>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <input name="cards_5000" type="number" class="form-control" value="0.50">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-label-left form-group">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">10,000 Cards</label>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <input name="cards_10000" type="number" class="form-control" value="0.40">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-label-left form-group">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">25,000 Cards</label>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <input name="cards_25000" type="number" class="form-control" value="0.35">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-label-left form-group">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">50,000 Cards</label>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <input name="cards_50000" type="number" class="form-control" value="0.30">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-label-left form-group">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">100,000+ Cards</label>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <input name="cards_100000" type="number" class="form-control" value="0.25">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group text-center">
                                <h4>Card Purchasing Cap</h4>
                            </div>
                            <div class="form-horizontal form-label-left form-group">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">Virtual Card Cap:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <input name="virtual_cap" type="number" class="form-control form-group" value="250000">
                                        <span class="help-block">Any broker purchases above this cap will be subject to Admin approval before being granted. All purchases below the cap will be instant.</span>
                                    </div>
                                    <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">Timeframe:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <input name="timeframe" type="number" class="form-control form-group " placeholder="Enter number of days" value="7">
                                        <span class="help-block">How long (in days) before the Virtual Card Cap resets?</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Tab 2 Content -->
                    </div>
                }
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="add-user btn btn-primary">Add @Model.UserType</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/utility.js" asp-append-version="true"></script>
<script type="text/javascript">
    ADDUSER.init();
</script>
