@model Codes.Service.ViewModels.DashboardViewModel
<div class="col-md-12 col-sm-12 col-xs-12">
    <br />
    <span class="h2">@ViewData["Role"] Dashboard</span>
    <hr class="thicc-hr">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <p></p>
        <div class="row">
            <div class="col-lg-7 col-md-4 col-sm-4 col-xs-12 text-right">
                <label class="h4 hidden-xs">Global Search:</label>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="input-group">
                    <input id="search-query" type="text" class="form-control" placeholder="(i.e. Cards, Brokers, Clients, Campaigns, Transactions etc)">
                    <span class="input-group-btn">
                        <button id="search" type="button" class="btn btn-primary" data-page="search"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <br />
    <div class="x_row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="h3"><i class="fa fa-credit-card"></i> Physical Cards</p>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="x_panel text-center">
                    <h4>Total Cards Purchased</h4>
                    <hr class="card-hr">
                    <h3>@Html.DisplayFor(m => m.PhysicalCardsPurchased)</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="x_panel text-center">
                    <h4>Total Cards In Campaigns</h4>
                    <hr class="card-hr">
                    <h3>@Html.DisplayFor(m => m.PhysicalCardsInCampaigns)</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="x_panel text-center">
                    <h4>Total Cards Activated</h4>
                    <hr class="card-hr">
                    <h3>@Html.DisplayFor(m => m.PhysicalCardsActivated)</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p></p>
    <div class="x_row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="h3"><i class="fa fa-credit-card"></i> Virtual Cards</p>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="x_panel text-center">
                    <h4>Total Cards Generated</h4>
                    <hr class="card-hr">
                    <h3>@Html.DisplayFor(m => m.VirtualCardsGenerated)</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="x_panel text-center">
                    <h4>Total Cards In Campaigns</h4>
                    <hr class="card-hr">
                    <h3>@Html.DisplayFor(m => m.VirtualCardsInCampaigns)</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="x_panel text-center">
                    <h4>Total Cards Activated</h4>
                    <hr class="card-hr">
                    <h3>@Html.DisplayFor(m => m.VirtualCardsActivated)</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p></p>
    <div class="x_row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="h3"><i class="fa fa-money"></i> Brokers Overview</p>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="x_panel text-center">
                    <h4>All Brokers<br />Hotel/Condo Savings</h4>
                    <hr class="card-hr">
                    <h3>@Html.DisplayFor(m => m.OverviewSavings)</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="x_panel text-center">
                    <h4>All Brokers<br />Commissions Paid</h4>
                    <hr class="card-hr">
                    <h3>@Html.DisplayFor(m => m.OverviewCommisionsPaid)</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="x_panel text-center">
                    <h4>All Brokers<br />Commissions Owed</h4>
                    <hr class="card-hr">
                    <h3>@Html.DisplayFor(m => m.OverviewCommisionsOwed)</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <br />
    <div class="x_panel">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="h3">Card Type Breakdown <small>All Brokers</small></p>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="x_panel text-center">
                        <i class="fa fa-hotel dashboard-icons"></i><br /><br />
                        <h5>Hotel Savings</h5>
                        <h4>@Html.DisplayFor(m => m.HotelSavings)</h4>
                        <hr>
                        <h5>Hotel Commissions Paid</h5>
                        <h4>@Html.DisplayFor(m => m.HotelCommissionsPaid)</h4>
                        <hr>
                        <h5>Hotel Commissions Owed</h5>
                        <h4>@Html.DisplayFor(m => m.HotelCommissionsOwed)</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="x_panel text-center">
                        <i class="fa fa-building-o dashboard-icons"></i><br /><br />
                        <h5>Condo Savings</h5>
                        <h4>@Html.DisplayFor(m => m.CondoSavings)</h4>
                        <hr>
                        <h5>Condo Commissions Paid</h5>
                        <h4>@Html.DisplayFor(m => m.CondoCommissionsPaid)</h4>
                        <hr>
                        <h5>Condo Commissions Owed</h5>
                        <h4>@Html.DisplayFor(m => m.CondoCommissionsOwed)</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="x_panel text-center">
                        <i class="fa fa-shopping-cart dashboard-icons"></i><br /><br />
                        <h5>Shopping Volume</h5>
                        <h4>@Html.DisplayFor(m => m.ShoppingVolume)</h4>
                        <hr>
                        <h5>Cashback To Members</h5>
                        <h4>@Html.DisplayFor(m => m.ShoppingCashback)</h4>
                        <hr>
                        <h5>Pending Cashback</h5>
                        <h4>@Html.DisplayFor(m => m.ShoppingPendingCashback)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <p class="h4">Card Distribution By Broker</p>
                <table id="card-distribution" class="table table-bordered table-striped jambo_table">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Broker</th>
                            <th class="column-title">Physical Cards</th>
                            <th class="column-title">Activated</th>
                            <th class="column-title">% Rate</th>
                            <th class="column-title">Virtual Cards</th>
                            <th class="column-title">Activated</th>
                            <th class="column-title">% Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.DisplayFor(m => m.CardDistributions)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        DASHBOARD.init();
    }
</script>
