@model Codes.Service.ViewModels.ClientEditViewModel
<div class="col-lg-8 col-md-11 col-sm-12 col-xs-12">
    <br />
    <div class="x_panel">
        <div class="x_title">
            <h2>Edit Client</h2>
            <div class="title-right pull-right">
                <a href="#" type="button" class="btn btn-sm btn-default nav-page-id" data-controller="view" data-page="clientdetails" data-id="@Model.ApplicationReference">Cancel</a>
                <a id="save" href="#" type="button" class="btn btn-sm btn-travnow">Save</a>
            </div>
            <div class="clearfix"></div>
        </div><br />
        <div class="row">
            <form id="edit" class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Company Name</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" asp-for="CompanyName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">EIN/FEIN</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input id="ein" type="text" class="form-control" asp-for="EIN">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" asp-for="Address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" asp-for="City">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">State</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select class="form-control" asp-for="State">
                            <option>Select State</option>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                            <option value="">-------------</option>
                            <option value="AB">AB</option>
                            <option value="BC">BC</option>
                            <option value="MB">MB</option>
                            <option value="NB">NB</option>
                            <option value="NL">NL</option>
                            <option value="NT">NT</option>
                            <option value="NS">NS</option>
                            <option value="NU">NU</option>
                            <option value="ON">ON</option>
                            <option value="PE">PE</option>
                            <option value="QC">QC</option>
                            <option value="SK">SK</option>
                            <option value="YT">YT</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Zip Code</label>
                    <div class="col-lg-3 col-md-3 col-sm-9 col-xs-12">
                        <input id="zip" class="form-control" asp-for="PostalCode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Country</label>
                    <div class="col-lg-3 col-md-3 col-sm-9 col-xs-12">
                        <select name="Country" class="form-control" asp-for="Country" asp-items="@Model.Countries">
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact First Name</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" asp-for="FirstName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact Last Name</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" asp-for="LastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Mobile Phone</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="tel" class="form-control" asp-for="MobilePhone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact Phone</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="tel" class="form-control" asp-for="OfficePhone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Office Fax</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="tel" class="form-control" asp-for="Fax">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact Email</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="email" class="form-control" asp-for="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Commission Rate</label>
                    <div class="col-lg-9 col-md-2 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" asp-for="CommissionRate" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">W9 Document</label>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href="#"><i class="fa fa-file-pdf-o pdf-icon"></i></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <a href="#" class="checkbox-adjust"></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Agent Assigned</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select id="assignedAgent" name="assignedAgent" class="form-control" asp-items="@Model.Agents">
                            <option value="0">Select Agent</option>
                        </select>
                    </div>
                </div><br />
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Client Active</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @if (!Model.DeactivationDate.HasValue)
                        {
                            <button id="deactivate-openmodal" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".deactivate-client-modal">
                                <i class="fa fa-times icon-white purchase-button-icon"></i>
                                Deactivate Client
                            </button>
                        }
                        else
                        {
                            <span id="deactivate-message" style="display: block; padding-top: 5px">Client has been deactivated.</span>
                        }
                        <span id="deactivate-message" style="display: block; padding-top: 5px">Client has been deactivated.</span>
                        <div class="modal fade deactivate-client-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">x</span>
                                        </button>
                                        <h4 class="modal-title">Deactivate Client?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <span class="">To deactivate a client, you must submit a deactivation explanation below. Once we review, we will process your deactivation request.</span>
                                            </div>
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <br />
                                                <textarea id="reason" class="form-control" placeholder="Please describe the reason for deactivating this client." rows=5></textarea><br />
                                            </div>
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <span class=""><em>Clients can be reactivated at any time by contact us at 770-854-1077 or emailing: <a href="mailto:brokersupport@travnow.com">brokersupport@travnow.com</a>.</em></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-bottom: 5px">Cancel</button>
                                        <button id="clientdeactivate" type="button" class="btn btn-travnow" data-id="@Model.ClientId">Submit</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/js/client-edit.js" asp-append-version="true"></script>
<script>
    MENU.init();
    CLIENTEDIT.init('@Model.ApplicationReference');
</script>
