@model MenuViewModel

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li asp-authorize asp-roles="Administrator,Super Administrator">
                <a><i class="fa fa-credit-card nav-icons-blue"></i> Admin Dashboard <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a class="nav-page-id" href="#" data-controller="dashboard" data-page="default">@Model.RoleName Dashboard</a></li>
                    <li><a class="nav-page-id" href="#" data-controller="dashboard" data-page="select" data-id="broker">Broker Dashboards</a></li>
                    <li><a class="nav-page-id" href="#" data-controller="dashboard" data-page="select" data-id="agent">Agent Dashboards</a></li>
                    <li><a class="nav-page-id" href="#" data-controller="dashboard" data-page="select" data-id="client">Client Dashboards</a></li>
                    <li><a class="nav-page-id" href="#" data-page="importexcel">Import Excel From ARN</a></li>
                </ul>
            </li>
            <li asp-authorize asp-roles="Broker,Agent,Client">
                <a class="nav-page-id" href="#" data-controller="dashboard" data-page="default"><i class="fa fa-credit-card nav-icons-blue"></i> @Model.RoleName Dashboard </a>
            </li>
            <li asp-authorize asp-roles="Super Administrator">
                <a class="nav-item" href="#" data-id="@Model.AccountId" data-page="user-list" data-cmd="Super Administrator"><i class="fa fa-users nav-icons-blue"></i> Super Admin Management</a>
            </li>
            <li asp-authorize asp-roles="Super Administrator">
                <a class="nav-item" href="#" data-id="@Model.AccountId" data-page="user-list" data-cmd="Administrator"><i class="fa fa-users nav-icons-blue"></i> Admin Management</a>
            </li>
            <li asp-authorize asp-roles="Administrator,Super Administrator">
                <a class="nav-item" href="#" data-id="@Model.AccountId" data-page="user-list" data-cmd="Broker"><i class="fa fa-users nav-icons-blue"></i> Broker Management</a>
            </li>
            <li asp-authorize asp-roles="Broker,Agent">
                <a class="nav-page-id" href="#" data-controller="view" data-page="myclients"><i class="fa fa-users nav-icons-blue"></i> Clients &amp; Campaigns </a>
                <a class="nav-page-id" href="#" data-controller="view" data-page="myagents"><i class="fa fa-users nav-icons-blue"></i> Agents </a>
            </li>
            <li asp-authorize asp-roles="Client">
                <a class="nav-item" href="#" data-page="campaign-list"><i class="fa fa-users nav-icons-blue"></i> Campaigns </a>
            </li>
            <li asp-authorize asp-roles="Administrator,Super Administrator,Broker,Client,Agent">
                <a><i class="fa fa-bar-chart nav-icons-blue"></i> Reports <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a class="nav-item nav-page-id" href="#" data-controller="reportcommission" data-page="load" data-id="@Model.RoleName">Commission Report</a></li>
                    <li class="hidden"><a class="nav-item nav-page-id" href="#" data-controller="reportchargeback" data-page="load" data-id="@Model.RoleName">Chargeback Report</a></li>
                    <li><a class="nav-item nav-page-id" href="#" data-controller="reportproduction" data-page="load" data-id="@Model.RoleName">Production Report</a></li>
                    <li><a class="nav-item nav-page-id" href="#" data-controller="reportactivation" data-page="load" data-id="@Model.RoleName">Activation Report</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
