@model ActivationTableViewModel
    <hr>
    <p class="h3"><span class="capitalFirstLetter">@Model.Type</span>: @Model.CompanyName</p>
    <table id="@Model.Type-@Model.Id" data-type="@Model.Type" data-id="@Model.Id" class="table table-striped table-bordered jambo_table bulk_action">
        <thead>
            <tr>
                <th class="col-lg-2 col-md-2">Card #</th>
                <th class="col-lg-2 col-md-2">Activation Date</th>
                <th class="col-lg-1 col-md-1">Member</th>
                <th class="col-lg-1 col-md-1">Denomination</th>
                <th class="col-lg-1 col-md-1">Card Type</th>
                <th class="col-lg-1 col-md-1">Card Used</th>
                <th class="col-lg-2 col-md-2">Campaign</th>
                <th class="col-lg-1 col-md-1">Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
