@model Codes.Service.ViewModels.CardDistributionViewModel
<tr>
    <td>@Html.DisplayFor(m => m.Name)</td>
    <td>@Html.DisplayFor(m => m.PhysicalCardsTotal)</td>
    <td>@Html.DisplayFor(m => m.PhysicalCardsActivated)</td>
    <td>@Html.DisplayFor(m => m.PhysicalCardsActivationRate)</td>
    <td>@Html.DisplayFor(m => m.VirtualCardsTotal)</td>
    <td>@Html.DisplayFor(m => m.VirtualCardsActivated)</td>
    <td>@Html.DisplayFor(m => m.VirtualCardsActivationRate)</td>
</tr>
