@model Codes.Service.ViewModels.CardDistributionViewModel
<tr>
    <td>@Html.DisplayFor(m => m.Name)</td>
    <td>@Html.DisplayFor(m => m.PhysicalTotal)</td>
    <td>@Html.DisplayFor(m => m.PhysicalActivated)</td>
    <td>@Html.DisplayFor(m => m.PhysicalRate)</td>
    <td>@Html.DisplayFor(m => m.VirtualTotal)</td>
    <td>@Html.DisplayFor(m => m.VirtualActivated)</td>
    <td>@Html.DisplayFor(m => m.VirtualRate)</td>
</tr>
