@model ProductionSummaryItemViewModel
<tr>
    <td>@Html.DisplayFor(m => m.AccountName)</td>
    <td>@Html.DisplayFor(m => m.InternetPrice)</td>
    <td>@Html.DisplayFor(m => m.YouPayPrice)</td>
    <td>@Html.DisplayFor(m => m.MemberSavings)</td>
    <td>@Html.DisplayFor(m => m.CommissionEarned)</td>
    <td>@Html.DisplayFor(m => m.TransactionDate)</td>
</tr>
