@model ProductionDetailItemViewModel
<tr>
    <td>@Html.DisplayFor(m => m.ConfirmationNumber)</td>
    <td>@Html.DisplayFor(m => m.CardNumber)</td>
    <td>@Html.DisplayFor(m => m.MemberFullName)</td>
    <td>@Html.DisplayFor(m => m.GuestFullName)</td>
    <td>@Html.DisplayFor(m => m.BookingDate)</td>
    <td>@Html.DisplayFor(m => m.CheckInDate)</td>
    <td>@Html.DisplayFor(m => m.CheckOutDate)</td>
    <td>@Html.DisplayFor(m => m.Canceled)</td>
    <td>@Html.DisplayFor(m => m.InternetPrice)</td>
    <td>@Html.DisplayFor(m => m.YouPayPrice)</td>
    <td>@Html.DisplayFor(m => m.MemberSavings)</td>
    <td>@Html.DisplayFor(m => m.PointsBalance)</td>
</tr>
