@model Codes.Service.ViewModels.SearchUserViewModel
<tr class="nav-page-id" data-page="my-account" data-id="@Model.ApplicationReference">
    <td>@Html.DisplayFor(m => m.FullName)</td>
    <td>@Html.DisplayFor(m => m.CompanyName)</td>
    <td>@Html.DisplayFor(m => m.Email)</td>
    <td>@Html.DisplayFor(m => m.PhoneNumber)</td>
</tr>
