@model Codes.Service.ViewModels.SearchUserViewModel
<tr data-id="@Model.Id">
    <td>@Html.DisplayFor(m => m.FullName)</td>
    <td>@Html.DisplayFor(m => m.CompanyName)</td>
    <td>@Html.DisplayFor(m => m.Email)</td>
    <td>@Html.DisplayFor(m => m.PhoneNumber)</td>
</tr>
