@model PageViewModel
<div class="col-md-12 col-sm-12 col-xs-12">
    <br />
    <div class="x_panel">
        <div class="x_title">
            <h2>@(Model.Role)s</h2>
            <div class="title-right pull-right">
                <button type="button" class="btn btn-travgreen btn-sm" data-toggle="modal" data-target=".new-broker-modal-lg">
                    <i class="fa fa-user-plus icon-white purchase-button-icon"></i>Add New @Model.Role
                </button>
                <div class="modal fade new-broker-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <vc:add-user broker-id="@Model.BrokerId" user-type="@Model.Role"></vc:add-user>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <vc:list broker-id="@Model.BrokerId" client-id="@Model.ClientId" user-type="@Model.Role"></vc:list>
        </div>
    </div>
</div>
