@model Codes1.Service.ViewModels.SearchViewModel
<div class="col-md-12 col-sm-12 col-xs-12">
    <br />
    <div id="search-results" class="x_panel">
        <div class="x_title">
            <h2>Search Results - @Model.Query</h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 pull-right">
                <div class="input-group">
                    <input id="search-query" type="text" class="form-control" asp-for="Query">
                    <span class="input-group-btn">
                        <button id="search" type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="table-brokers" class="@(Model.ShowBroker ? "" : "hidden") table table-bordered table-striped table-select jambo_table">
                <caption class="h4">Brokers</caption>
                <thead>
                    <tr class="headings">
                        <th class="column-title col-xs-3">Name</th>
                        <th class="column-title col-xs-3">Company Name</th>
                        <th class="column-title col-xs-3">Email</th>
                        <th class="column-title col-xs-3">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(m => m.Brokers)
                </tbody>
            </table>
            <table id="table-agents" class="@(Model.ShowAgent ? "" : "hidden") table table-bordered table-striped table-select jambo_table">
                <caption class="h4">Agents</caption>
                <thead>
                    <tr class="headings">
                        <th class="column-title col-xs-3">Name</th>
                        <th class="column-title col-xs-3">Company Name</th>
                        <th class="column-title col-xs-3">Email</th>
                        <th class="column-title col-xs-3">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(m => m.Agents)
                </tbody>
            </table>
            <table id="table-clients" class="@(Model.ShowClient ? "" : "hidden") table table-bordered table-striped table-select jambo_table">
                <caption class="h4">Clients</caption>
                <thead>
                    <tr class="headings">
                        <th class="column-title col-xs-3">Name</th>
                        <th class="column-title col-xs-3">Company Name</th>
                        <th class="column-title col-xs-3">Email</th>
                        <th class="column-title col-xs-3">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(m => m.Clients)
                </tbody>
            </table>
            <table id="table-campaigns" class="table table-bordered table-striped table-select jambo_table">
                <caption class="h4">Campaigns</caption>
                <thead>
                    <tr class="headings">
                        <th class="column-title">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(m => m.Campaigns)
                </tbody>
            </table>
            <table id="table-cards" class="table table-bordered table-striped table-select jambo_table">
                <caption class="h4">Cards</caption>
                <thead>
                    <tr class="headings">
                        <th class="column-title">CardNumber</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(m => m.Cards)
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    MENU.init();
    SEARCH.init();
</script>
